<div class="container">

        <div class="col-md-5 leftPannel">
        <textarea #codeToRun contenteditable="true"></textarea>
        
        <button id="mybutton" (click)="CodeRunButton(codeToRun)" class="checkButton">click !</button>
        <button id="clear" class="clearButton">Clear</button>
        
        </div>
        
        <div class="col-md-7">
            <pre #iFrameHandle1 id="turtle-div" style="width: 100%; height:400px; float:right;" class="IframeHidden"> </pre>
        </div>
        
        <div class="col-md-12">
        <div id="turtle-print-output" style="width: 100%; height:400px; float:left"></div>
        </div>
        
        
        
        <span id="status-info"></span>
        
        </div>