.checkPointHiddenWrong{
    display: none !important;
}


.checkPointHiddenCorrect{
    display: none !important;
    
}

.Donttry-again {
    background-color: green;
}

.IframeHidden {
    display: none !important
}
.console-title{flex:1 1;font-weight:700}
.console-title-container{display:flex;flex-flow:row;justify-content:space-between;font-size:.9em;padding:0 20px;height:25px;line-height:25px;color:#fff;background:#479fba}
.console-title-container .console-title{flex:1 1;font-weight:700}
.console{flex:1 1;display:flex;flex-flow:column;height:100%}
.inline-af-left{flex:1 1;display:flex;flex-flow:column;margin-right:10px}
pre#turtle-print-output {
    flex: 1 1; 
    margin-bottom: 0;
    white-space:pre-wrap;
    font-family:Inconsolata;
    height: 100%;
    color:#fff;
    background-color:#666;
    border-radius:0;
    border:none
  }

  .newRBox {
    width: 60%;
    height:515px;
    float: right;
    border-left: 0;
    border-style:solid;
    border-width:1;
    border-color:#ccc;
}
.buttonsBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.buttonsBottom .clearButton {
display: inline-block;
padding: 0 30px;
color: #FFF;
font-size: 15px;
height: 30px;
line-height: 30px;
font-weight: 700;
background: #479fba;
margin: 15px 10px 0 0;
border: 0;
}
.buttonsBottom .runcode {
display: inline-block;
padding: 0 30px;
color: #FFF;
font-size: 15px;
height: 30px;
line-height: 30px;
font-weight: 700;
background: #ce7cf4;
margin: 15px 10px 0 0;
border: 0;
}