.checkPointHiddenWrong{
    display: none !important;
}


.checkPointHiddenCorrect{
    display: none !important;
    
}

.Donttry-again {
    background-color: green;
}

.IframeHidden {
    display: none !important
}
pre#turtle-print-output {
    background-color: black;
    color: yellow;
    font-weight: bolder;
    min-height: 50px;
    height: auto;
    max-height: 200px;
  }